<main id="main">
  <!-- ======= Intro Single ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">The Best platform to list or <br/>buy Property.</h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <%= link_to "Home", root_path %>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                About
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section><!-- End Intro Single-->

  <!-- ======= About Section ======= -->
  <section class="section-about">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 position-relative">
          <div class="about-img-box">
            <%= link_to image_tag('Propes/f1.jpg'), alt: "building image" %>
          </div>
          <div class="sinse-box">
            <h3 class="sinse-title">PropEx
              <span></span>
              <br> Since 2023
            </h3>
            <p>Dedicated to results</p>
          </div>
        </div>
        <div class="col-md-12 section-t8 position-relative">
          <div class="row">
            <div class="col-md-6 col-lg-5">
              <%= link_to image_tag('img/plan2.jpg',width: 650), alt: "floor plan image" %>
            </div>
            <div class="col-lg-2  d-none d-lg-block position-relative">
              <div class="title-vertical d-flex justify-content-start">
                <span>EstateAgency Exclusive Property</span>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 section-md-t3">
              <div class="title-box-d">
                <h3 class="title-d">Prop<span class="color-d">Ex</span>
                </h3>
              </div>
              <p class="color-text-a">
                Launched in 2023, PropEx, India's No. 1 property portal, deals with every aspect of the consumer's needs in the real estate industry. It is an online forum where buyers, sellers and brokers/agents can exchange information about real estate properties quickly, effectively and inexpensively.
              </p>
              <p class="color-text-a">
                At PropEx, you can advertise a property, search for a property, browse through properties, build your own property microsite, and keep yourself updated.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- =======Team Section ======= -->
  <section class="section-agents section-t8">
  <div class="row">
    <div class="col-md-12">
      <div class="title-wrap d-flex justify-content-center">
        <div class="title-box">
          <h2 class="title-a">Meet Our Team</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card-box-d">
          <div class="card-img-d">
            <%= link_to image_tag('img/agent-7.jpg', :width=>450, :crop=>"fit"), alt: "agent image" %>
          </div>
          <div class="card-overlay card-overlay-hover">
            <div class="card-header-d">
              <div class="card-title-d align-self-center">
                <h3 class="title-d">
                  <a href="agent-single.html" class="link-two">Margaret Sotillo
                    <br> Escala</a>
                </h3>
              </div>
            </div>
            <div class="card-body-d">
              <p class="content-d color-text-a">
                Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
              </p>
              <div class="info-agents color-a">
                <p>
                  <strong>Phone: </strong> +54 356 945234
                </p>
                <p>
                  <strong>Email: </strong> agents@example.com
                </p>
              </div>
            </div>            
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-d">
          <div class="card-img-d">
            <%= link_to image_tag('img/agent-6.jpg', :width=>450, :crop=>"fit"), alt: "agent image" %>
          </div>
          <div class="card-overlay card-overlay-hover">
            <div class="card-header-d">
              <div class="card-title-d align-self-center">
                <h3 class="title-d">
                  <a href="agent-single.html" class="link-two">Stiven Spilver
                    <br> Darw</a>
                </h3>
              </div>
            </div>
            <div class="card-body-d">
              <p class="content-d color-text-a">
                Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
              </p>
              <div class="info-agents color-a">
                <p>
                  <strong>Phone: </strong> +54 356 945234
                </p>
                <p>
                  <strong>Email: </strong> agents@example.com
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-d">
          <div class="card-img-d">
            <%= link_to image_tag('img/agent-5.jpg', :width=>450, :crop=>"fit"), alt: "agent image" %>
          </div>
          <div class="card-overlay card-overlay-hover">
            <div class="card-header-d">
              <div class="card-title-d align-self-center">
                <h3 class="title-d">
                  <a href="agent-single.html" class="link-two">Emma Toledo
                    <br> Cascada</a>
                </h3>
              </div>
            </div>
            <div class="card-body-d">
              <p class="content-d color-text-a">
                Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
              </p>
              <div class="info-agents color-a">
                <p>
                  <strong>Phone: </strong> +54 356 945234
                </p>
                <p>
                  <strong>Email: </strong> agents@example.com
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section><!-- End About Section-->
  
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<%= render 'layouts/section_footer' %>